.elhp-google-btn {
    display: block;
    text-align: center;
    padding: 12px 20px;
    background: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.elhp-google-btn:hover {
    background: #f7f7f7;
}
